.venv/
__pycache__/
*.pyc
.ruff_cache/
.pytest_cache/
outputs/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
